// Default colors
$black:             #000000;
$white:             #ffffff;
$color-transparent: rgba(255, 255, 255, 0);


// Base
$accent:    #4dd6fc;
$default:   #005792;

$grey:      #cccccc;

// Typography
$font-accent:   "Rotonda", Arial, Helvetica, sans-serif;
$font-default:  "Roboto", Arial, Helvetica, sans-serif;


// Other
$fastdown:      0.2s ease;
$middledown:    0.3s ease;
$slowdown:      0.4s ease;

// Shadows
$shadow-nano: 0 4px 8px rgba($black, 0.1);
$shadow-small: 0 8px 16px rgba($black, 0.2);