// Default colors
$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);


// Base
$accent:      #ff0000;
$default:     #000000;
$grey:        #888888;
$other:       #222222;


// Typography
$font-accent:   "Times New Roman", Times, serif;
$font-default:  "Roboto", Arial, Helvetica, sans-serif;


// Other
$fastdown:      0.2s ease;
$middledown:    0.3s ease;
$slowdown:      0.4s ease;