.btn {
  display: block;
  padding: 10px 40px;
  font-weight: 400;
  font-size: 18px;
  color: $white;
  text-transform: uppercase;
  background-color: $accent;
  border: 2px solid $white;
  border-radius: 8px;
  transition: $slowdown;
  cursor: pointer;

  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    background-color: darken($accent, 10%);
  }

  &:active {
    transform: scale(0.95);
  }
}


a {
  color: $default;
  text-decoration: none;
}

   
h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin-top: 0;
}
  
.title-text {
  position: relative;
  margin-bottom: 0;
  font-size: 34px;
  font-family: $font-accent;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;

  &--reverse {
    color: $white;
  }

  &--tax {
    font-size: 30px;
    color: $white;

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: darken($white, 10%);
      }
    }
  }

  @include laptop {
    font-size: 30px;
  }

  @include phones {
    font-size: 28px;
  }
}
  
.text-accent {
  color: $accent;
}

.text-up {
  text-transform: uppercase;
}
  
.text-nowrap {
  white-space: nowrap;
}


/* Section */
.section {
  padding: 80px 0;

  &--accent {
    background-color: $default;
  }

  @include laptop {
    padding: 60px 0;
  }

  @include tablets {
    padding: 40px 0;
  }
}


/* Logotype */
.logo {

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    color: $white;
    letter-spacing: 1px;
    text-decoration: none;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 40px;
    font-family: $font-accent;
  }

  &__description {
    font-size: 15px;
    font-weight: 300;
  }

  @include laptop {
    &__name {
      font-size: 34px;
    }

    &__description {
      font-size: 13px;
    }
  }
}


/* Up button */
.btn-up {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: -1;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.3s ease;

  svg {
    width: 100%;
    height: 100%;
    fill: $accent;
    transition: $slowdown;
  }

  &.btn-up--show {
    z-index: 100;
    opacity: 1;
    animation-name: jump-btn;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-fill-mode: backwards;
    animation-timing-function: easy;
  }

  &.btn-up--top {
    animation-name: hide-btn;
    animation-play-state: running;
    animation-iteration-count: infinite;

    svg {
      transform: scaleY(1) scaleX(1); 
    }
  }

  &:hover, &:focus {
    animation-play-state: paused;
    cursor: pointer;

    svg {
      fill: lighten($accent, 20%);
      transform: scale(1.2);
    }
  }

  @include phones {
    bottom: 20px;
    left: 20px;
  }
}