@font-face {
  font-family: "Roboto-D";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-D";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-D";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-D";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Roboto-MediumItalic.eot");
  src: url("../fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-D";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-D";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Nunito-Bold.eot");
  src: url("../fonts/Nunito-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Bold.woff") format("woff"), url("../fonts/Nunito-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-D";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Nunito-Regular.eot");
  src: url("../fonts/Nunito-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.woff2") format("woff2");
  font-display: swap;
}
::-webkit-input-placeholder {
  color: #666;
}
::-moz-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: #666;
}
::-ms-input-placeholder {
  color: #666;
}
::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: #4dd6fc;
  color: #fff;
}

::selection {
  background-color: #4dd6fc;
  color: #fff;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #005792;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

input, textarea {
  border-radius: 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
}
input::placeholder, textarea::placeholder {
  opacity: 1;
}
input:invalid, textarea:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

select {
  border-radius: 0;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
          appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
          appearance: none;
}

input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

select,
textarea,
input:matches([type=email],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=url]) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.IH {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
.wrapper--no-scrollbar {
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.wrapper--no-scrollbar::-webkit-scrollbar {
  display: none;
}
.wrapper .header,
.wrapper .footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
}

.scroll-lock {
  position: fixed;
  overflow-y: auto;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 1920px) {
  .container {
    max-width: 1140px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
    padding: 0 15px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
    padding: 0 5px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 320px;
  }
}

.btn {
  display: block;
  padding: 10px 40px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #4dd6fc;
  border: 2px solid #ffffff;
  border-radius: 30px;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #1bcafb;
}
.btn:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

a {
  color: #005792;
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin-top: 0;
}

.title-text {
  position: relative;
  margin-bottom: 0;
  font-size: 34px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
.title-text--reverse {
  color: #ffffff;
}
.title-text--tax {
  font-size: 30px;
  color: #ffffff;
}
.title-text--tax a {
  color: #ffffff;
  text-decoration: none;
}
.title-text--tax a:hover {
  color: #e6e6e6;
}
@media screen and (max-width: 992px) {
  .title-text {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .title-text {
    font-size: 28px;
  }
}

.text-accent {
  color: #4dd6fc;
}

.text-up {
  text-transform: uppercase;
}

.text-nowrap {
  white-space: nowrap;
}

/* section */
.section {
  padding-top: 60px;
  padding-bottom: 40px;
}
.section--accent {
  background-color: #005792;
}
@media screen and (max-width: 992px) {
  .section {
    padding-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  .section {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

/* Up button */
.btn-up {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 100;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-up svg {
  width: 100%;
  height: 100%;
  fill: #4dd6fc;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.btn-up_active {
  opacity: 1;
  -webkit-animation-name: jump-btn;
          animation-name: jump-btn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-timing-function: easy;
          animation-timing-function: easy;
}
.btn-up:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.btn-up:hover svg {
  fill: #b1edfe;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
@media screen and (max-width: 576px) {
  .btn-up {
    bottom: 20px;
    left: 20px;
  }
}

@-webkit-keyframes hover-svg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes hover-svg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@-webkit-keyframes hover-svg-revers {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes hover-svg-revers {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes rotate-1 {
  0% {
    -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);
            transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
            transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}
@keyframes rotate-1 {
  0% {
    -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);
            transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
            transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}
@-webkit-keyframes rotate-2 {
  0% {
    -webkit-transform: rotate(0deg) translateX(300px) rotate(0deg);
            transform: rotate(0deg) translateX(300px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(300px) rotate(-360deg);
            transform: rotate(360deg) translateX(300px) rotate(-360deg);
  }
}
@keyframes rotate-2 {
  0% {
    -webkit-transform: rotate(0deg) translateX(300px) rotate(0deg);
            transform: rotate(0deg) translateX(300px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(300px) rotate(-360deg);
            transform: rotate(360deg) translateX(300px) rotate(-360deg);
  }
}
@-webkit-keyframes rotate-3 {
  0% {
    -webkit-transform: rotate(0deg) translateX(450px) rotate(0deg);
            transform: rotate(0deg) translateX(450px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(450px) rotate(-360deg);
            transform: rotate(360deg) translateX(450px) rotate(-360deg);
  }
}
@keyframes rotate-3 {
  0% {
    -webkit-transform: rotate(0deg) translateX(450px) rotate(0deg);
            transform: rotate(0deg) translateX(450px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(450px) rotate(-360deg);
            transform: rotate(360deg) translateX(450px) rotate(-360deg);
  }
}
@-webkit-keyframes rotate-4 {
  0% {
    -webkit-transform: rotate(0deg) translateX(600px) rotate(0deg);
            transform: rotate(0deg) translateX(600px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(600px) rotate(-360deg);
            transform: rotate(360deg) translateX(600px) rotate(-360deg);
  }
}
@keyframes rotate-4 {
  0% {
    -webkit-transform: rotate(0deg) translateX(600px) rotate(0deg);
            transform: rotate(0deg) translateX(600px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(600px) rotate(-360deg);
            transform: rotate(360deg) translateX(600px) rotate(-360deg);
  }
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
    opacity: 0;
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
    opacity: 0;
  }
}
@-webkit-keyframes phone-ring {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate(-5deg);
            transform: translate3d(-25%, 0, 0) rotate(-5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate(3deg);
            transform: translate3d(20%, 0, 0) rotate(3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate(-3deg);
            transform: translate3d(-15%, 0, 0) rotate(-3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate(2deg);
            transform: translate3d(10%, 0, 0) rotate(2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate(-1deg);
            transform: translate3d(-5%, 0, 0) rotate(-1deg);
  }
}
@keyframes phone-ring {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate(-5deg);
            transform: translate3d(-25%, 0, 0) rotate(-5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate(3deg);
            transform: translate3d(20%, 0, 0) rotate(3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate(-3deg);
            transform: translate3d(-15%, 0, 0) rotate(-3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate(2deg);
            transform: translate3d(10%, 0, 0) rotate(2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate(-1deg);
            transform: translate3d(-5%, 0, 0) rotate(-1deg);
  }
}
@-webkit-keyframes jump-btn {
  0% {
    -webkit-transform: translateY(0) scaleY(0.8) scaleX(1.2);
            transform: translateY(0) scaleY(0.8) scaleX(1.2);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(0.8) scaleX(1.2);
            transform: translateY(0) scaleY(0.8) scaleX(1.2);
  }
}
@keyframes jump-btn {
  0% {
    -webkit-transform: translateY(0) scaleY(0.8) scaleX(1.2);
            transform: translateY(0) scaleY(0.8) scaleX(1.2);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(0.8) scaleX(1.2);
            transform: translateY(0) scaleY(0.8) scaleX(1.2);
  }
}
/*# sourceMappingURL=main.css.map */
