@font-face {
  font-family: "Roboto-D";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-D";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-D";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Roboto-Italic.eot");
  src: url("../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.woff2") format("woff2");
  font-display: swap;
}
::-webkit-input-placeholder {
  color: #666;
}
::-moz-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: #666;
}
::-ms-input-placeholder {
  color: #666;
}
::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: #ff0000;
  color: #fff;
}

::selection {
  background-color: #ff0000;
  color: #fff;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

input, textarea {
  border-radius: 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
}
input::placeholder, textarea::placeholder {
  opacity: 1;
}
input:invalid, textarea:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

select {
  border-radius: 0;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
          appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
          appearance: none;
}

input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

select,
textarea,
input:matches([type=email],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=url]) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.IH {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
.wrapper--no-scrollbar {
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.wrapper--no-scrollbar::-webkit-scrollbar {
  display: none;
}
.wrapper .header,
.wrapper .footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
}

.scroll-lock {
  position: fixed;
  overflow-y: auto;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 1920px) {
  .container {
    max-width: 1140px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
    padding: 0 15px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
    padding: 0 5px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 320px;
  }
}

.btn {
  display: block;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  background-color: #ff0000;
  border: none;
  border-radius: 30px;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}
.btn:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #ff3333;
}

h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin-top: 0;
}

.title-text {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

.text-accent {
  color: #ff0000;
}

.text-up {
  text-transform: uppercase;
}

.text-nowrap {
  white-space: nowrap;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  28% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  28% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */
