section.section.experience
  .container.container-mobile
    h2.title-text Опыт работы
    .experience__wrap 
      .experience__row 
        .experience__block.experience__block--main
          .experience__company StudyWorld
          .experience__post Wordpress‑разработчик
          .experience__time 
            span.text-nowrap Декабрь 2021 — 
            span.text-nowrap По настоящее время
        .experience__block.experience__block--duties
          .experience__content 
            p Описание своих обязанностей - текст для примера текст для примера текст для примера текст для примера
            ul
              li Создание сайтов для SEO-отдела;
              li Настройка плагинов и безопасности на проектах;
              li Создание и настройка шаблонов Wordpress;
              li Создание JavaScript-кода для расширения функционала проектов; 
              li Создание эффектов и анимации на страницах.
          ul.experience__links
            li.experience__links-item 
              a(href="https://studybay.biz/" rel="nofollow" target="_blank") studybay.biz
            li.experience__links-item 
              a(href="https://studybay.biz/" rel="nofollow" target="_blank") studybay.biz
            li.experience__links-item 
              a(href="https://studybay.biz/" rel="nofollow" target="_blank") studybay.biz
      
      .experience__row 
        .experience__block.experience__block--main
          .experience__company Финансово-правовой альянс
          .experience__post Wordpress‑разработчик Frontend‑разработчик
          .experience__time 
            span.text-nowrap Февраль 2021 — 
            span.text-nowrap Декабрь 2021
        .experience__block.experience__block--duties
          .experience__content 
            ul
              li Создание корпоративного сайта;
              li Верстка посадочных страниц для рекламных компаний;
              li Создание CSS и JS анимации;
              li Интеграция верстки к CMS Wordpress;
              li Написание скриптов на JavaScript и PHP.
          ul.experience__links
            li.experience__links-item 
              a(href="https://fpa.ru/" rel="nofollow" target="_blank") fpa.ru
            li.experience__links-item 
              a(href="https://andreevvp.ru/" rel="nofollow" target="_blank") andreevvp.ru

      .experience__row 
        .experience__block.experience__block--main
          .experience__company Adamant Digital Media Group
          .experience__post Старший HTML‑верстальщик
          .experience__time 
            span.text-nowrap Май 2019 — 
            span.text-nowrap Февраль 2021
        .experience__block.experience__block--duties
          .experience__content 
            ul
              li Верстка сайтов и посадочных страниц;
              li Правки на действующих проектах;
              li Создание скриптов JS и jQuery;
              li Подключение и настройка готовых JS-скриптов;
              li Проверка верстки фрилансеров;
              li Подключение готовых проектов к системе управления Аdamant;
              li Разработка коллекции популярных секций, для удобного и быстрого создания лендингов.

      .experience__row 
        .experience__block.experience__block--main
          .experience__company ООО Комплит
          .experience__post HTML‑верстальщик
          .experience__time 
            span.text-nowrap Январь 2019 — 
            span.text-nowrap Май 2019
        .experience__block.experience__block--duties
          .experience__content 
            ul
              li Вёрстка многостраничных сайтов на основе готовых макетов;
              li Наполнение сайтов контентом через CMS системы;
              li Оптимизация кода и графики;
              li Правки на сайтах.
          ul.experience__links
            li.experience__links-item 
              a(href="https://pkp-service.ru/" rel="nofollow" target="_blank") pkp-service.ru
            li.experience__links-item 
              a(href="https://d-save.ru/" rel="nofollow" target="_blank") d-save.ru
            li.experience__links-item 
              a(href="https://my-itservice.ru/" rel="nofollow" target="_blank") my-itservice.ru
      
      .experience__row 
        .experience__block.experience__block--main
          .experience__company Частная практика - Фриланс
          .experience__post HTML‑верстальщик
          .experience__time 
            span.text-nowrap Июнь 2018 — 
            span.text-nowrap Январь 2019
        .experience__block.experience__block--duties
          .experience__content 
            ul
              li Верстка шаблонов по готовым PSD-макетам;
              li Добавление адаптивности на действующие сайты;
              li Редактирование и улучшение существующих проектов;
              li Администрирование и поддержка веб-ресурсов;
              li Наполнение сайтов контентом.