span.inner__circle.inner__circle--1
span.inner__circle.inner__circle--2
div.inner__group.inner__group--1
  span.inner__elem.inner__elem--1
  span.inner__elem.inner__elem--2
  span.inner__elem.inner__elem--3
  span.inner__elem.inner__elem--4
  span.inner__elem.inner__elem--5
  span.inner__elem.inner__elem--6
div.inner__group.inner__group--2
  span.inner__elem.inner__elem--1
  span.inner__elem.inner__elem--2
  span.inner__elem.inner__elem--3
  span.inner__elem.inner__elem--4
  span.inner__elem.inner__elem--5
  span.inner__elem.inner__elem--6
.inner__elem-z.inner__elem-z--1
.inner__elem-z.inner__elem-z--2
.inner__elem-z.inner__elem-z--3
.inner__elem-z.inner__elem-z--4
.inner__elem-z.inner__elem-z--5
.inner__elem-z.inner__elem-z--6