section.section--full.portfolio
  .container
    h2.title-text.title-text--reverse Моё портфолио
    ul.portfolio__wrap
      li.portfolio__item
        a(href="project.html").portfolio__link
          .portfolio__inner
            +image('portfolio/', '2', 'jpg', 'Изображение сайта', '')
          span.portfolio__name Многостраничный сайт для компании <span class="text-nowrap">«Мой сервис»</span>
      li.portfolio__item
        a(href="project.html").portfolio__link
          .portfolio__inner
            +image('portfolio/', '10', 'jpg', 'Изображение сайта', '')
          span.portfolio__name Лендинг для платформы <span class="text-nowrap">«Crazy coin»</span>
      li.portfolio__item
        a(href="project.html").portfolio__link
          .portfolio__inner
            +image('portfolio/', '8', 'jpg', 'Изображение сайта', '')
          span.portfolio__name Лендинг для компании «Zaмания»
      li.portfolio__item
        a(href="project.html").portfolio__link
          .portfolio__inner
            +image('portfolio/', '12', 'jpg', 'Изображение сайта', '')
          span.portfolio__name Лендинг по ринопластике
      li.portfolio__item
        a(href="project.html").portfolio__link
          .portfolio__inner
            +image('portfolio/', '1', 'jpg', 'Изображение сайта', '')
          span.portfolio__name Многостраничный сайт проект для компании<br> «Петербургская компьютерная помощь»</span>
      li.portfolio__item
        a(href="project.html").portfolio__link
          .portfolio__inner
            +image('portfolio/', '2', 'jpg', 'Изображение сайта', '')
          span.portfolio__name Многостраничный сайт для компании <span class="text-nowrap">«Мой сервис»</span>
      li.portfolio__item
        a(href="project.html").portfolio__link
          .portfolio__inner
            +image('portfolio/', '10', 'jpg', 'Изображение сайта', '')
          span.portfolio__name Лендинг для платформы <span class="text-nowrap">«Crazy coin»</span>
      li.portfolio__item
        a(href="project.html").portfolio__link
          .portfolio__inner
            +image('portfolio/', '8', 'jpg', 'Изображение сайта', '')
          span.portfolio__name Лендинг для компании «Zaмания»
      li.portfolio__item
        a(href="project.html").portfolio__link
          .portfolio__inner
            +image('portfolio/', '12', 'jpg', 'Изображение сайта', '')
          span.portfolio__name Лендинг по ринопластике
      li.portfolio__item
        a(href="project.html").portfolio__link
          .portfolio__inner
            +image('portfolio/', '1', 'jpg', 'Изображение сайта', '')
          span.portfolio__name Многостраничный сайт проект для компании<br> «Петербургская компьютерная помощь»</span>