section.section.project
  .container
    h1.title-text.project__title Проект «Петербургская компьютерная помощь»
    .project__wrap

      .project__block.project__block_left
        h2.project__title Описание проекта:
        div.project__text 
          p Многостраничный сайт для компании по ремонту компьютерной техники «Петербургская компьютерная помощь»
        h3.project__subtitle Выполненная работа:
        div.project__text
          ul
            li Верстка шаблона с использованием Bootstrap 4
            li Правки после посадки верстки на CMS WordPress
            li Наполнение сайта контентом
            li Добавление новых секций
        h3.project__subtitle Тип сайта:
        div.project__text
          a(href="/") Многостраничный сайт
        h3.project__subtitle Ссылка на проект:
        div.project__text
          a(href="https://pkp-service.ru/") https://pkp-service.ru/
      
      .project__block.project__block_center
        h2.project__title.project__title--screen Полная версия:
        .project__design.project__design--desktop
          .project__btn.project__btn--up
            +svg('arrow-down')
          .project__image.project__image--desktop
            +image('portfolio/', '2_desktop', 'jpg', 'Макет десктопная версия', '')
          .project__btn.project__btn--down
            +svg('arrow-down')

      .project__block.project__block_right 
        h2.project__title.project__title--screen Мобильная версия:
        .project__design.project__design--mobile
          .project__btn.project__btn--up
            +svg('arrow-down')
          .project__image.project__image--mobile
            +image('portfolio/', '2_mobile', 'jpg', 'Макет мобильная версия', '')
          .project__btn.project__btn--down
            +svg('arrow-down')