section.section.resume
  .container
    h2.title-text Резюме
    h3.resume__subtitle Общая информация:
    .resume__block
      .resume__foto
        +image('resume/', '1', 'jpg', 'Моё фото', 'Wordpress-разработчик')
      .resume__info
        p Создаю сайты уже более 4-х лет
        p Специализируюсь на создании посадочных страниц и многостраничных сайтов на CMS WordPress.
        p На сайте представлены проекты, в разработке которых я принимал участие за последние три года.