section.section.resume
  .container.container-mobile
    h2.title-text Моё резюме
    h3.resume__subtitle Общая информация:
    .resume__block
      .resume__foto
        +image('resume/', '1', 'jpg', 'Моё фото', 'Wordpress-разработчик')
      .resume__info
        p Создаю сайты уже более 4-х лет. 
        p Специализируюсь на создании посадочных страниц и многостраничных сайтов на CMS WordPress.
        p На этом сайте представлены проекты, в разработке которых я принимал участие за последние три года. У меня есть опыт работы с маркетиновыми и интернет студиями, частными заказчиками и  крупными компаниями. 
        p Веб-разработка для меня основная сфера деятельности, поэтому я стараюсь совершенствовать свои навыки разработки и постоянно изучать новые технологии.

    h3.resume__subtitle Мои навыки:
    .resume__content
      ul 
        li CMS Wordpress создание тем "с нуля" и настройка SEO;
        li HTML5 и CSS3 - адаптивная и кроссбраузерная вёрстка;
        li Знание JavaScript (ES6);
        li Знание PHP и MySQL;
        li Базовое знание React и Next.js;
        li Опыт работы с Git (GitHub и Bitbucket);
        li Figma и Photoshop на уровне нарезки и правки макетов;
        li Работа с популярными хостингами и доменными регистраторами;
        li Есть опыт работы с таск-трекерами Битрикс24, Asana, Jira.

    h3.resume__subtitle При создании сайтов использую:
    .resume__content
      ul 
        li Шаблонизатор PUG, препроцессор SCSS, методологию БЭМ;
        li Библиотеки Swiper, Chart.js и GSAP(TweenMax);
        li CSS-анимацию и SVG графику;
        li Сборщик Gulp (для автоматизации и сборки).