section.section--full.top
  .container
    .top__wrap
      h1.top__title.visually-hidden Портфолио Wordpress-разработчика: создаю посадочные страницы и многостраничные сайты на CMS WordPress. 
      p.top__hello Добрый день! 
        span.text-nowrap Меня зовут Виктор, и я<br>
      p.top__profession Wordpress-разработчик
      p.top__text
        span.text-nowrap Создаю многостраничные сайты
        span.text-nowrap и посадочные страницы