section.section.section--accent.works
  .container
    h2.title-text.title-text--reverse Похожие проекты
    .swiper-container.swiper-works
      .swiper-wrapper
        .swiper-slide
          a(href="/").work__item
            .work__inner
              img(src="./img/portfolio/2.jpg" srcset="./img/webp/portfolio/2.webp" class="swiper-lazy")
            .work__name Многостраничный сайт для компании <span class="text-nowrap">«Мой сервис»</span>
        .swiper-slide
          a(href="/").work__item
            .work__inner
              img(src="./img/portfolio/10.jpg" srcset="./img/webp/portfolio/10.webp" class="swiper-lazy")
            .work__name Лендинг для платформы <span class="text-nowrap">«Crazy coin»</span>
        .swiper-slide
          a(href="/").work__item
            .work__inner
              img(src="./img/portfolio/26.jpg" srcset="./img/webp/portfolio/26.webp" class="swiper-lazy")
            .work__name Лендинг для компании «Zaмания»
        .swiper-slide
          a(href="/").work__item
            .work__inner
              img(src="./img/portfolio/12.jpg" srcset="./img/webp/portfolio/12.webp" class="swiper-lazy")
            .work__name Лендинг по ринопластике
        .swiper-slide
          a(href="/").work__item
            .work__inner
              img(src="./img/portfolio/1.jpg" srcset="./img/webp/portfolio/1.webp" class="swiper-lazy")
            .work__name «Петербургская компьютерная помощь»</span>

      .swiper-button-prev
        +svg('arrow')
      .swiper-button-next
        +svg('arrow')
      .swiper-pagination