include mixins/mixins.pug

doctype html

html
  include blocks/head.pug

  body.home

    .wrapper
      
      .inner.inner--top
        include blocks/header.pug
        include blocks/top.pug
        include blocks/inner.pug

      main

        include blocks/advantages.pug
        include blocks/examples.pug
        include blocks/infographic.pug

      include blocks/footer.pug

    script(src="./js/scripts.min.js")
    script(src="./js/main.js")