.resume {
  &__block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  &__foto {
    width: 30%;
    margin-top: 10px;
  }

  &__info {
    width: 70%;
    padding-left: 70px;
    font-size: 22px;

    p {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 28px;
    font-family: $font-accent;
    line-height: 1;
  }

  &__content {
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 22px;

    ul {
      @include lst;

      li { 
        position: relative;
        margin-bottom: 0.25rem;
        padding-left: 1rem;

        &::before {
          content: '';
          position: absolute;
          top: 12px;
          left: 0;
          height: 6px;
          width: 6px;
          background-color: $default;
          border-radius: 50%;
        }
      }
    }
  }

  @include laptop {
    &__foto {
      width: 40%;
    }

    &__info {
      width: 60%;
      padding-left: 30px;

      p {
        margin-bottom: 6px;
        font-size: 18px;
      }
    }

    &__subtitle {
      font-size: 24px;
    }

    &__content {
      font-size: 20px;
    }
  }

  @include tablets {
    padding-bottom: 20px;

    &__block {
      flex-direction: column;
      margin-bottom: 30px;
    }
    &__foto {
      width: 340px;
      margin-bottom: 20px;
    }
    &__info {
      width: 100%;
      padding-left: 0;
    }
    &__content {
      margin-left: 0;
    }
  }

  @include phones {
    &__foto {
      max-width: 100%;
    }

    &__content {
      font-size: 18px;
    }
  }
}