.top {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 60px;
  overflow: hidden;

  &__wrap {
    position: relative;
    z-index: 1;
    width: 100%;
    font-family: $font-accent;
    letter-spacing: 3px;
    color: $white;
    text-align: center;
  }

  &__hello {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
  }

  &__profession {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 70px;
  }

  &__text {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
  }

  @include laptop {

    &__hello {
      font-size: 22px;
    }

    &__profession {
      font-size: 55px;
      line-height: 1.2;
    }
  
    &__text {
      font-size: 24px;
    }
  }

  @include tablets {

    &__wrap {
      letter-spacing: 2px;
    }

    &__hello {
      margin-bottom: 5px;
    }

    &__profession {
      font-size: 46px;
    }

    &__text {
      font-size: 20px;
    }
  }

  @include phones {

    &__wrap {
      letter-spacing: 1px;
    }

    &__hello {
      margin-bottom: 15px;
      font-size: 20px;
    }

    &__profession {
      margin-bottom: 20px;
      font-size: 36px;
    }

    &__text {
      font-size: 18px;
    }
  }
}